$body-background-color: #F2F2F2;
$blue: #002E76;
$accordion-background-color: #F9F9F9;
$accordion-border-color: #e7e7e7;
$accordion-bank-background: #e5e5e5;

$accordion-list-shadow: 0 0 1px darken($accordion-background-color, 5%);
$accordion-shadow: 0 0 3px darken($accordion-background-color, 15%);

$default-font-color: #4d5053;
